# builds
dist

# dependencies
node_modules
.pnp
.pnp.js

# TypeScript cache
*.tsbuildinfo

# testing
coverage
test-results
playwright-report
blob-report

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.*
!.env.example
