.page {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
}

.aside {
  display: none;
}

@media (width >= 80rem) {
  .page {
    grid-template-columns: minmax(0, 1fr) minmax(0, 11rem);
    gap: 2.5rem;
    align-items: start;
  }

  .aside {
    display: block;
    position: sticky;
    top: var(--docs-header-height);
    padding-block-start: 0.5rem;
  }
}
